/*warna & Font*/
h1 {
    font-family: 'Oswald', sans-serif; 
    text-align: center; 
    color: rgb(83, 75, 75);
}

p {
font-family: 'Fira Sans', sans-serif; 
text-align: center; 
color: #5f3e5f;
}
a {/* Type selector */ 
    color: rgb(167, 1, 78);
    text-decoration: none;
}

a:hover { /* pseudo selector; Maksud hover adalah melayang (tampilan yang disembunyikan, tapi "atribut" ada) */
    text-decoration: underline;
}

 #todays-challenge {
    color: rgb(170, 96, 83);
    font-weight: bold;
    font-size: 52px;
    }